/* @import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css); */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url(./layout.css);
@import url(./color-palette.css);
@import url(./spacing.css);
@import url(./shadow.css);
@import url(./typography.css);
body {
  font-size: var(--text-size-base);
  font-family: "Bellota Text", cursive;
  background: var(--background-color);
  color: var(--foreground-color);
  font-weight: 400;
  line-height: calc(var(--text-size-md) + var(--spacing-sm));
  background-image: url(../img/background.jpg);
  backdrop-filter: blur(10px);
}

button {
  padding: var(--spacing-md);
  background-color: var(--background-color);
  color: var(--primary-color);
  box-shadow: var(--shadow-md);
  background: var(--background-color) "22";
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  border: 1px solid var(--foreground-color) "55";
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}
