:root {
  --text-size-base: 16px;
  --text-size-lg: 1.5rem;
  --text-size-md: 1rem;
  --text-size-sm: 0.75rem;
}

.text-title {
  font-size: var(--text-size-lg);
  font-weight: 700;
  line-height: calc(var(--text-size-lg) + var(--spacing-sm));
}

.text-subtitle {
  font-size: var(--text-size-md);
  font-weight: 700;
  line-height: calc(var(--text-size-lg) + var(--spacing-sm));
}

.text-content {
  font-size: var(--text-size-md);
  font-weight: 400;
  line-height: calc(var(--text-size-md) + var(--spacing-sm));
}

.text-secondary {
  font-size: var(--text-size-md);
  font-weight: 400;
  line-height: calc(var(--text-size-md) + var(--spacing-sm));
}

.author-name {
  font-size: var(--text-size-lg);
  font-weight: 700;
  line-height: calc(var(--text-size-lg) + var(--spacing-sm));
}
